.main {
  width: 100vw;
  height: 100vh;
  
  background-color: black;
}
.box {
  border-radius: 12px;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  min-width: 15.5rem;
  height: 28rem;
  text-align: center;
  background-color: rgb(243, 235, 235);
}
.img {
  border-radius: 12px;
  overflow: hidden;
  height: 20rem;
  width: 15.5rem;
}
.wrap {
  display: flex;
  align-items: center;
  margin-left: 15%;
  border: none;
  width: 70%;
  overflow-x: auto;

  height: 90vh;
}
/* .wrap::-webkit-scrollbar{
    width: 0;
  } */
.img > img {
  width: 100%;
}
.item {
  font-size: 20px;
  font-weight: 650;
  color: #0a0a0a;
}

.txt {
  padding: 3rem;
  text-align: center;
  width: 50%;
  
}

@media screen and (max-width: 500px) {
  .box {
    min-width: 16rem;
    height: 15rem;
    text-align: center;
    margin-top: 10rem;
  }
  .wrap {
    margin-left: 10%;
    width: 80%;
    display: block;
    overflow-y: auto;
  }
  .img {
    height: 50%;
    width: 100%;
  }
  .main {
    width: 100vw;
   
  }
}